@{
    //Layout = "~/Views/Shared/_landingLayout.cshtml";
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-5">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">
        Learn about <a href="https://learn.microsoft.com/aspnet/core" target="_blank">building Web apps with ASP.NET Core</a>.
    </p>
</div>
